### Revising Aggregations - The Count Function

In [ ]:
SELECT COUNT(ID) FROM CITY
WHERE POPULATION > 100000;

### Revising Aggregations - The Sum Function

In [ ]:
SELECT SUM(POPULATION) FROM CITY
WHERE DISTRICT = 'California';

### Revising Aggregations - Averages

In [ ]:
SELECT AVG(POPULATION) FROM CITY
WHERE DISTRICT = 'California';

### Average Population

In [ ]:
SELECT ROUND(AVG(POPULATION)) FROM CITY;

### Japan Population

In [ ]:
SELECT SUM(POPULATION) FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Population Density Difference

In [ ]:
SELECT MAX(POPULATION) - MIN(POPULATION) FROM CITY;

### The Blunder

In [ ]:
SELECT CEIL(AVG(SALARY) - AVG(IF(SALARY LIKE '%0%', REPLACE(CAST(SALARY AS CHAR), '0', ''), SALARY) ) )
FROM EMPLOYEES;

In [ ]:
SELECT CEIL(
    AVG(SALARY) -
    /*
    Use of CASE Statement: This makes it explicit what condition is being checked and 
    how different conditions are handled, enhancing readability and maintainability.
    */
    AVG(CASE 
            WHEN(SALARY LIKE '%0%')
            /*
            Explicit Casting: After replacing '0' with '', the result is explicitly cast back to a signed integer. 
            This makes it clear what type is expected for the calculation.
            */
            THEN CAST(REPLACE(CAST(SALARY AS CHAR), "0", "") AS SIGNED)
            ELSE SALARY
        END)
) AS ERROR_AMOUNT
FROM EMPLOYEES;

###