### Revising the Select Query I

In [ ]:
SELECT * FROM CITY
WHERE CountryCode = 'USA' AND Population > 100000;

### Revising the Select Query II

In [ ]:
SELECT Name FROM CITY
WHERE Population > 120000 AND CountryCode = 'USA';

### Select All

In [ ]:
SELECT * FROM CITY;

### Select By ID

In [ ]:
SELECT * FROM CITY
WHERE ID = 1661;

### Japanese Cities' Attributes

In [ ]:
SELECT * FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Japanese Cities' Names

In [ ]:
SELECT NAME FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Weather Observation Station 1

In [ ]:
SELECT CITY, STATE FROM STATION;

### Weather Observation Station 3

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE ID%2 = 0;

### Weather Observation Station 4

In [ ]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) FROM STATION;

### Weather Observation Station 5

In [ ]:
/*
This query selects the city name and its length, orders the result by the length of the city name in ascending order, and then by city name alphabetically. The LIMIT 1 ensures that only the city with the shortest name is returned. If there are multiple cities with the same shortest length, it chooses the one that comes first alphabetically due to the CITY ASC order.
*/
SELECT CITY, CHAR_LENGTH(CITY) FROM STATION
ORDER BY  CHAR_LENGTH(CITY), CITY
LIMIT 1;

/*
This query selects the city name and its length, orders the result by the length of the city name in descending order, and then by city name alphabetically. The LIMIT 1 ensures that only the city with the longest name is returned. As with the shortest, if there are ties in length, the alphabetical order decides which city to return.
*/
SELECT CITY, CHAR_LENGTH(CITY) FROM STATION
ORDER BY  CHAR_LENGTH(CITY) DESC,  CITY
LIMIT 1;

In [ ]:
/* Retrieving both results in a single query execution */
(SELECT CITY, CHAR_LENGTH(CITY) FROM STATION
ORDER BY  CHAR_LENGTH(CITY), CITY
LIMIT 1)
UNION ALL /* UNION ALL is used instead of UNION to avoid removing duplicates */
(SELECT CITY, CHAR_LENGTH(CITY) FROM STATION
ORDER BY  CHAR_LENGTH(CITY) DESC,  CITY
LIMIT 1);

### Weather Observation Station 6

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^[aeiou]';

### Weather Observation Station 7

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '[aeiou]$';

### Weather Observation Station 8

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^[aeiou].*[aeiou]$';

### Weather Observation Station 9

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^[^aeiou]';

### Weather Observation Station 10

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '[^aeiou]$';

### Weather Observation Station 11

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^[^aeiou]|[^aeiou]$';

### Weather Observation Station 12

SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^[^aeiou].*[^aeiou]$'

### Higher Than 75 Marks

In [ ]:
SELECT NAME FROM STUDENTS
WHERE MARKS > 75
ORDER BY SUBSTR(NAME, -3, 3), ID;

### Employee Names

In [ ]:
SELECT NAME FROM EMPLOYEE
ORDER BY NAME;

### Employee Salaries

In [ ]:
SELECT NAME FROM EMPLOYEE
WHERE SALARY > 2000 AND MONTHS < 10
ORDER BY EMPLOYEE_ID;